<div class="cart-drawer-recommended product-grid" data-section-id="cart-drawer-collection" data-section-type="related">
{% assign collection = collections['cleaning-products'] %}
{%- if collection.products.size > 0 -%}
{%- for product in collection.products -%}
   {%- assign grid_int = section.settings.grid | times: 1 -%}
   {%- assign animation_delay = forloop.index0 | modulo: grid_int | times: 1 -%}
   {%- render 'product-grid-item', product: product, grid_strings: grid_strings, animation_delay: animation_delay, index: forloop.index -%}
{%- endfor -%}
{% endif %}
</div>

<style>
.cart-drawer-recommended .product-item__bg.aos-init.lazyloaded {
    opacity: 1;
  	transform: unset;
}
.cart-drawer-recommended .product-information.aos-init {
    opacity: 1;
    transform: translate(0);
}
</style>