<!-- <a name="pagecontent" id="pagecontent"  target="_self"></a>
<div class="container text-center help-banner mb-md-4 p-md-4 bg-info custom-bg">
    <span>HELP &amp; ADVICE</span>
    <h2 class="serif d-none d-md-block">What can we help you with?</h2>
        <p class="small mb-0 pt-3">Use the search facility above and if you can't find the answer to what you're looking for, feel free to contact us directly<br><a href="mailto:help@myjewelworld.co.uk" class="text-primary">help@myjewelworld.co.uk</a></p>
  </div>
<div class="my-container custom_help_container">
<div class="row helpitem  demdt">
  
        <div class="col-12 diamond">
         
        </div>	
   <div class="text-center mb-4 helpintro">
            <h1 class="garamond"> {{ page.title }}</h1>
          </div>
      </div>
<div class="page clearfix"> -->
<!--   <h1 class="page-t">
  </h1> -->
<!--   <div class="feature_divider"></div> -->
{% section 'custom-page-design' %}
    <button class="btn_colors back-to-help " style="margin-left:auto;margin-right:auto;display:block;"><a href="/pages/faqs-page"  target="_self">Back To Help</a></button>
<!-- </div>
</div> -->


<style>
  .custom_help_container{
    max-width: 900px;
    margin: auto;
    float: none;
    display: block;
    padding: 0 15px;
    
  }
  .clearfix{
    max-width:none;
    
  }
  .custom-bg{
    background-color:rgb(241 241 241);
    padding: 1.5rem!important;
    padding-right: 15px;
    padding-left: 15px;
    font-family: var(---font-stack-heading);
    font-style: var(---font-style-heading);
    font-weight: normal;
    font-size: 16px;
    text-transform: none;
    color: rgb(0 0 0 / 75%);
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
  }
  .back-to-help{
    border:1px solid black;
    padding:10px 20px;
    margin-top: 40px;
  }
  .btn_colors:hover{
    background: #60d2e1;
    border: 1px solid #60d2e1;
    
    
  }
  .btn_colors:hover a{
   color:#fff;
  }
</style>