<!----template/page.faq-template.liquid--->

<div>
{% section 'custom-page-design' %}
</div>
<div>
{% section 'cus-faq' %}
</div>
<div>
  {% section 'review-carousel' %}
</div>
<div>
  {% section 'section-logo-list' %}
</div>

<style>
 div#shopify-section-cus-faq {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
</style>